/*.egg-info
/dist 
*.pyc

**/build
**/log
**/install
build/

# *.usdz

__pycache__/

# **/sam_models/

**/Payload/

*.usdz
*.usda
build/
*.mp4
# CloudKit private key - DO NOT COMMIT
avp_stream/datasets/eckey.pem
*.pem
downloads/

.DS_Store
__pycache__/
*.pyc
xcuserdata/
*.npz
.DS_Store
