teleop_control:
  ros__parameters:
    vp_base_frame: "vp_base"
    gripper_base_frame: "gripper_ee"

    # Update rate for teleop_control.update() (seconds)
    update_period: 0.3

    # Gesture thresholds
    pinch_threshold: 0.02
    right_pinch_min: 0.015
    right_pinch_max: 0.150

keyboard_ee_teleop:
  ros__parameters:
    frame_id: "mycobot_base"
    step_linear: 0.05
    step_angular: 0.25

joint_state_to_mycobot:
  ros__parameters:
    port: "/dev/ttyACM0"
    baud: 115200
    
    joint_state_topic: "/joint_states_mycobot"
    speed: 60
    gripper_speed: 75

    initial_angles_deg: [0, 0, 0, 0, 0, 45]  # Initial joint angles in degrees
    initial_move_speed: 15

