# visionpro_ip: "192.168.50.153" #jemaro room
# visionpro_ip: "192.168.10.113" # ferdinand home
# visionpro_ip: "192.168.10.137" # ferdinand home
# visionpro_ip: "192.0.0.3"        # ferdinand

vp_transform_publisher:
  ros__parameters:
    visionpro_ip: "192.168.10.113"
    pinch_threshold: 0.02   # just for markers for rviz

vp_streamer:
  ros__parameters:
    visionpro_ip: "192.168.10.113"
    port: 50051                           # gRPC port for USDZ transfer
    joint_state_topic: "/joint_states_mycobot"
    attach_to: [0.0, 0.3, 0.65, -55.0]    # y-axis goes from viewer straight to the distance
    update_simulation_hz: 120.0
    force_reload: true
    ###### Camera parameters 
    camera_device: "/dev/video0"
    camera_resolution: "320x240" #"160x120" #"640x480"
    format: "v4l2"
    camera_fps: 30

camera_streamer:
  ros__parameters:
    visionpro_ip: "192.168.10.113"
    resolution:  "320x240"  # "1280x720"
    # camera_input: "/dev/video4" # Robot camera
    camera_input: "/dev/video0" # Laptop camera
    format: "v4l2" # on linux "v4l2", on windows "dshow", on mac "avfoundation"
    fps: 25

teleop_control_cpp:
  ros__parameters:
    update_period: 0.001    # seconds ############## How fast to publish target topic and tf which inv_kin. node subscribes to
    update_period_vis: 0.001    # seconds

    smoothing_factor: 2.0  # Run sampling this many times faster than update_period
    smoothing_window: 5   # Number of recent samples to average

    translation_scale: 0.95  # Scale translation of the commanded EE pose in mycobot_base
    rotation_scale: 1.0     # Scale rotation of the commanded EE pose

    # Gesture thresholds
    pinch_threshold: 0.02
    right_pinch_min: 0.015
    right_pinch_max: 0.150

    scene_z_rotation_attachedto: -140.0   # degrees, should be -90 - same as in "attach_to" in vp_streamer

joint_state_to_mycobot:
  ros__parameters:
    port: "/dev/ttyACM0"
    baud: 115200
    joint_state_topic: "/joint_states_mycobot"
    gripper_speed: 100
    speed: 70               # default movement speed if adaptive speed is false
    adaptive_speed: true
    adaptive_speed_low_speed: 60
    adaptive_speed_high_speed: 90

    initial_angles_deg: [0, 0, 0, 0, 0, 45]
    initial_move_speed: 35

inverse_kinematics_node:
  ros__parameters:
    # Topics and frames
    target_topic: "/teleop/ee_target"
    joint_target_topic: "/joint_states_mycobot"

    # IK tuning parameters
    position_tolerance: 0.01       # meters
    orientation_tolerance: 0.02    # radians
    max_iterations: 100
    damping: 0.015
    step_tolerance: 2.0e-6          # rad magnitude of joint update
    gripper_percent: 100            # default gripper position in percent

    joint_states_ros2_update_rate: 100.0 #hz
    mycobot_target_pose_update_rate: 0.02 ######### Change the frequeny to send topic to my_cobot

    joint_lower_limits_deg: [-160.0, -160.0, -160.0, -160.0, -160.0, -170.0]
    joint_upper_limits_deg: [ 160.0,  160.0,  160.0,  160.0,  160.0,  170.0]

    initial_joint_positions_deg: [0.0, 30.0, -90.0, 0.0, 0.0, 45.0]

sam_client:
  ros__parameters:
    watch_dir: "/home/ferdinand/Dropbox/sam_data"
    server_url: "http://localhost:18000"
    result_files: ["object_visual.obj", "object_collision.obj", "material_0.mtl", "material.png"]

    add_to_mujoco: true
    mujoco_scene_name: "scene_mycobot"

